# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Docker temp
*.pid

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/